<%= form_for @deck do |f| %>
<div class="row">
 <div class="small-12 columns">
   <fieldset>
    <legend> Deck </legend>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "New Deck", :class => "small button success radius" %>
      <%= link_to 'Cancel', decks_url, :class => "small button secondary radius" %>
   </fieldset>
  </div>
</div>
<% end %>
